<ul class="navv">
  <li><%= link_to 'About', about_path %></li>
  <li><%= link_to 'Gallery', gallery_path %></li>
  <li><%= link_to 'Contact', contact_path %></li>
</ul>
<!-- Portfolio -->
<section id="portfolio" class="portfolio">
    <div class="container">
        <div class="row">
            <div class="col-lg-10 col-lg-offset-1 text-center">
                <h2>Royalty Series</h2>
                <hr class="small">
                <div class="row">
                    <div class="col-md-6">
                        <div class="portfolio-item">
                            <a href="#" data-toggle="modal" data-target="#kingOfDiamonds">
                                <%= image_tag("kingofdiamonds.jpg", class:"img-portfolio img-responsive") %>
                            </a>
                        </div>
                        <div class="modal fade" id="kingOfDiamonds" tabindex="-1" role="dialog" aria-labelledby="kingOfDiamondsLabel">
                        <div class="modal-dialog" role="document">
                          <div class="modal-content">
                            <div class="modal-header">
                              <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                              <h4 class="modal-title" id="kingOfDiamondsLabel">King Of Diamonds</h4>
                            </div>
                            <div class="modal-body">
                              <%= image_tag("kingofdiamonds.jpg") %>
                              <h4>Royalty Series: King of Diamonds (18 x 24, oil on canvass) </h4>
                              <b>SOLD</b>
                              <br>
                              <p>  Usually when we look at playing cards the most valuable cards are the kings and queens. The problem is that the culture represented as those kings and queens are always the same. Royalty is a series of playing cards that have representative figures from various cultures in those valued position. Though these cultures are not usually considered when the topic of royalty comes up, it is important to understand that every culture is equally valuable. There is no one specific culture that is better than the rest.</p>
                            </div>
                            <div class="modal-footer">
                              <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="col-md-6">
                        <div class="portfolio-item">
                            <a href="#" data-toggle="modal" data-target="#queenOfHearts">
                                <%= image_tag("queenofhearts.jpg", class:"img-portfolio img-responsive") %>
                            </a>
                        </div>
                        <div class="modal fade" id="queenOfHearts" tabindex="-1" role="dialog" aria-labelledby="queenOfHeartsLabel">
                        <div class="modal-dialog" role="document">
                          <div class="modal-content">
                            <div class="modal-header">
                              <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                              <h4 class="modal-title" id="queenOfHeartsLabel">Queen Of Hearts</h4>
                            </div>
                            <div class="modal-body">
                              <%= image_tag("queenofhearts.jpg") %>
                              <h4>Royalty Series: Queen of Hearts  (18 x 24, oil on canvas) </h4>
                              <b>SOLD</b>
                              <br>
                              <p>  Usually when we look at playing cards the most valuable cards are the kings and queens. The problem is that the culture represented as those kings and queens are always the same. Royalty is a series of playing cards that have representative figures from various cultures in those valued position. Though these cultures are not usually considered when the topic of royalty comes up, it is important to understand that every culture is equally valuable. There is no one specific culture that is better than the rest.</p>
                            </div>
                            <div class="modal-footer">
                              <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="portfolio-item">
                            <a href="#" data-toggle="modal" data-target="#kingOfSpades">
                                <%= image_tag("kingofspades.jpg", class:"img-portfolio img-responsive") %>
                            </a>
                        </div>
                        <div class="modal fade" id="kingOfSpades" tabindex="-1" role="dialog" aria-labelledby="kingOfSpadesLabel">
                        <div class="modal-dialog" role="document">
                          <div class="modal-content">
                            <div class="modal-header">
                              <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                              <h4 class="modal-title" id="kingOfSpadesLabel">King Of Spades</h4>
                            </div>
                            <div class="modal-body">
                              <%= image_tag("kingofspades.jpg") %>
                              <h4>Royalty Series: King of Spades (18 x 24, oil on canvass) </h4>
                              <b>SOLD</b>
                              <br>
                              <p>  Usually when we look at playing cards the most valuable cards are the kings and queens. The problem is that the culture represented as those kings and queens are always the same. Royalty is a series of playing cards that have representative figures from various cultures in those valued position. Though these cultures are not usually considered when the topic of royalty comes up, it is important to understand that every culture is equally valuable. There is no one specific culture that is better than the rest.</p>
                            </div>
                            <div class="modal-footer">
                              <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="col-md-6">
                      <div class="portfolio-item">
                          <a href="#" data-toggle="modal" data-target="#queenOfClubs">
                              <%= image_tag("queenofclubs.jpg", class:"img-portfolio img-responsive") %>
                          </a>
                      </div>
                      <div class="modal fade" id="queenOfClubs" tabindex="-1" role="dialog" aria-labelledby="queenOfClubsLabel">
                      <div class="modal-dialog" role="document">
                        <div class="modal-content">
                          <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                            <h4 class="modal-title" id="queenOfClubsLabel">Queen Of Clubs</h4>
                          </div>
                          <div class="modal-body">
                            <%= image_tag("queenofhearts.jpg") %>
                            <h4>Royalty Series: Queen of Clubs  (18 x 24, oil on canvas) </h4>
                            <b>SOLD</b>
                            <br>
                            <p>  Usually when we look at playing cards the most valuable cards are the kings and queens. The problem is that the culture represented as those kings and queens are always the same. Royalty is a series of playing cards that have representative figures from various cultures in those valued position. Though these cultures are not usually considered when the topic of royalty comes up, it is important to understand that every culture is equally valuable. There is no one specific culture that is better than the rest.</p>
                          </div>
                          <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>

            </div>
            <!-- /.col-lg-10 -->
        </div>
        <!-- /.row -->
    </div>
    <!-- /.container -->
</section>

<!-- Call to Action
<aside class="call-to-action bg-primary">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h3>The buttons below are impossible to resist.</h3>
                <a href="#" class="btn btn-lg btn-light">Click Me!</a>
                <a href="#" class="btn btn-lg btn-dark">Look at Me!</a>
            </div>
        </div>
    </div>
</aside>
-->
<!-- Map
<section id="contact" class="map">
    <iframe width="100%" height="100%" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.com/maps?f=q&amp;source=s_q&amp;hl=en&amp;geocode=&amp;q=Twitter,+Inc.,+Market+Street,+San+Francisco,+CA&amp;aq=0&amp;oq=twitter&amp;sll=28.659344,-81.187888&amp;sspn=0.128789,0.264187&amp;ie=UTF8&amp;hq=Twitter,+Inc.,+Market+Street,+San+Francisco,+CA&amp;t=m&amp;z=15&amp;iwloc=A&amp;output=embed"></iframe>
    <br />
    <small>
        <a href="https://maps.google.com/maps?f=q&amp;source=embed&amp;hl=en&amp;geocode=&amp;q=Twitter,+Inc.,+Market+Street,+San+Francisco,+CA&amp;aq=0&amp;oq=twitter&amp;sll=28.659344,-81.187888&amp;sspn=0.128789,0.264187&amp;ie=UTF8&amp;hq=Twitter,+Inc.,+Market+Street,+San+Francisco,+CA&amp;t=m&amp;z=15&amp;iwloc=A"></a>
    </small>
    </iframe>
</section>
-->
