<nav class="navbar navbar-inverse navbar-fixed-bottom"role="navigation">
  <!-- Brand and toggle get grouped for better mobile display -->
  <div class="navbar-header">
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
  </div>

  <!-- Collect the nav links, forms, and other content for toggling -->
  <div class="collapse navbar-collapse navbar-ex1-collapse">
    <ul class="nav navbar-nav">
      <li><%= link_to 'Home', root_path %></li>
      <li><%= link_to 'About', about_path %></li>
      <li class="active"><%= link_to 'Gallery', gallery_path %></li>
      <li><%= link_to 'Contact', contact_path %></li>
    </ul>
  </div><!-- /.navbar-collapse -->
</nav>
<ul class="navv">
  <div style="font-family: 'Ubuntu', sans-serif;">
      <h2>Gallery</h2>
  </div>
</ul>
<!-- Portfolio -->
<section id="portfolio" class="portfolio">
    <div class="container">
        <div class="row">
            <div class="col-lg-10 col-lg-offset-1 text-center">
                <h2>Paintings</h2>
                <hr class="small">
                <div class="row">
                    <div class="col-md-6">
                        <div class="portfolio-item">
                            <a href="#" data-toggle="modal" data-target="#kingOfDiamonds">
                                <%= image_tag("kingofdiamonds.jpg", class:"img-portfolio img-responsive") %>
                            </a>
                        </div>
                        <div class="modal fade" id="kingOfDiamonds" tabindex="-1" role="dialog" aria-labelledby="kingOfDiamondsLabel">
                        <div class="modal-dialog" role="document">
                          <div class="modal-content">
                            <div class="modal-header">
                              <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                              <h4 class="modal-title" id="kingOfDiamondsLabel">King Of Diamonds</h4>
                            </div>
                            <div class="modal-body">
                              <%= image_tag("kingofdiamonds.jpg") %>
                              <h4>Royalty Series: King of Diamonds (18 x 24, oil on canvas) </h4>
                              <b>SOLD</b>
                              <br>
                              <p>  Usually when we look at playing cards the most valuable cards are the kings and queens. The problem is that the culture represented as those kings and queens are always the same. Royalty is a series of playing cards that have representative figures from various cultures in those valued position. Though these cultures are not usually considered when the topic of royalty comes up, it is important to understand that every culture is equally valuable. There is no one specific culture that is better than the rest.</p>
                            </div>
                            <div class="modal-footer">
                              <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="col-md-6">
                        <div class="portfolio-item">
                            <a href="#" data-toggle="modal" data-target="#queenOfHearts">
                                <%= image_tag("queenofhearts.jpg", class:"img-portfolio img-responsive") %>
                            </a>
                        </div>
                        <div class="modal fade" id="queenOfHearts" tabindex="-1" role="dialog" aria-labelledby="queenOfHeartsLabel">
                        <div class="modal-dialog" role="document">
                          <div class="modal-content">
                            <div class="modal-header">
                              <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                              <h4 class="modal-title" id="queenOfHeartsLabel">Queen Of Hearts</h4>
                            </div>
                            <div class="modal-body">
                              <%= image_tag("queenofhearts.jpg") %>
                              <h4>Royalty Series: Queen of Hearts  (18 x 24, oil on canvas) </h4>
                              <b>SOLD</b>
                              <br>
                              <p>  Usually when we look at playing cards the most valuable cards are the kings and queens. The problem is that the culture represented as those kings and queens are always the same. Royalty is a series of playing cards that have representative figures from various cultures in those valued position. Though these cultures are not usually considered when the topic of royalty comes up, it is important to understand that every culture is equally valuable. There is no one specific culture that is better than the rest.</p>
                            </div>
                            <div class="modal-footer">
                              <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="portfolio-item">
                            <a href="#" data-toggle="modal" data-target="#kingOfSpades">
                                <%= image_tag("kingofspades.jpg", class:"img-portfolio img-responsive") %>
                            </a>
                        </div>
                        <div class="modal fade" id="kingOfSpades" tabindex="-1" role="dialog" aria-labelledby="kingOfSpadesLabel">
                        <div class="modal-dialog" role="document">
                          <div class="modal-content">
                            <div class="modal-header">
                              <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                              <h4 class="modal-title" id="kingOfSpadesLabel">King Of Spades</h4>
                            </div>
                            <div class="modal-body">
                              <%= image_tag("kingofspades.jpg") %>
                              <h4>Royalty Series: King of Spades (18 x 24, oil on canvas) </h4>
                              <b>SOLD</b>
                              <br>
                              <p>  Usually when we look at playing cards the most valuable cards are the kings and queens. The problem is that the culture represented as those kings and queens are always the same. Royalty is a series of playing cards that have representative figures from various cultures in those valued position. Though these cultures are not usually considered when the topic of royalty comes up, it is important to understand that every culture is equally valuable. There is no one specific culture that is better than the rest.</p>
                            </div>
                            <div class="modal-footer">
                              <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="col-md-6">
                      <div class="portfolio-item">
                          <a href="#" data-toggle="modal" data-target="#queenOfClubs">
                              <%= image_tag("queenofclubs.jpg", class:"img-portfolio img-responsive") %>
                          </a>
                      </div>
                      <div class="modal fade" id="queenOfClubs" tabindex="-1" role="dialog" aria-labelledby="queenOfClubsLabel">
                      <div class="modal-dialog" role="document">
                        <div class="modal-content">
                          <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                            <h4 class="modal-title" id="queenOfClubsLabel">Queen Of Clubs</h4>
                          </div>
                          <div class="modal-body">
                            <%= image_tag("queenofclubs.jpg") %>
                            <h4>Royalty Series: Queen of Clubs  (18 x 24, oil on canvas) </h4>
                            <b>SOLD</b>
                            <br>
                            <p>  Usually when we look at playing cards the most valuable cards are the kings and queens. The problem is that the culture represented as those kings and queens are always the same. Royalty is a series of playing cards that have representative figures from various cultures in those valued position. Though these cultures are not usually considered when the topic of royalty comes up, it is important to understand that every culture is equally valuable. There is no one specific culture that is better than the rest.</p>
                          </div>
                          <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
            </div>
            <!-- /.col-lg-10 -->
        </div>
        <!-- /.row -->
        <div class="row">
            <div class="col-lg-10 col-lg-offset-1 text-center">
                <div class="row">
                    <div class="col-md-6">
                        <div class="portfolio-item">
                            <a href="#" data-toggle="modal" data-target="#young-king">
                                <%= image_tag("youngking.jpg", class:"img-portfolio img-responsive") %>
                            </a>
                        </div>
                        <div class="modal fade" id="young-king" tabindex="-1" role="dialog" aria-labelledby="youngKingLabel">
                        <div class="modal-dialog" role="document">
                          <div class="modal-content">
                            <div class="modal-header">
                              <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                              <h4 class="modal-title" id="youngKingLabel">Young King</h4>
                            </div>
                            <div class="modal-body">
                              <%= image_tag("youngking.jpg") %>
                              <h4>Young King 2016 (12 x 24, oil on canvas) </h4>
                              <b> $400</b>
                              <br>
                              <p>    Young King shows the opportunity to be great that everyone (regardless of race, gender, beliefs) posses. Everyone has the ability to do something great, to change the norm, and leave their mark on this world. We have always had this gift and it will never go away.</p>
                            </div>
                            <div class="modal-footer">
                              <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="col-md-6">
                        <div class="portfolio-item">
                            <a href="#" data-toggle="modal" data-target="#AequalitasKey">
                                <%= image_tag("key.jpg", class:"img-portfolio img-responsive") %>
                            </a>
                        </div>
                        <div class="modal fade" id="AequalitasKey" tabindex="-1" role="dialog" aria-labelledby="AequalitasKeyLabel">
                        <div class="modal-dialog" role="document">
                          <div class="modal-content">
                            <div class="modal-header">
                              <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                              <h4 class="modal-title" id="AequalitasKeyLabel">Aequalitas est Key</h4>
                            </div>
                            <div class="modal-body">
                              <%= image_tag("key.jpg", class:"img-portfolio img-responsive") %>
                              <h4>Aequalitas est Key 2016 (24 x 36, oil on canvas) </h4>
                              <b>$700</b>
                              <br>
                              <p> "Equality is the Key" displays two representational hands reaching desperately for a golden key. Both sides fail to realize that the key is for the same door, Peace and Equality. Rather than fighting both/all sides must put their differences aside and work together to reach their goals.</p>
                            </div>
                            <div class="modal-footer">
                              <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="portfolio-item">
                            <a href="#" data-toggle="modal" data-target="#ohYeLittleFaith">
                                <%= image_tag("ohye.jpg", class:"img-portfolio-landscape img-responsive") %>
                            </a>
                        </div>
                        <div class="modal fade" id="ohYeLittleFaith" tabindex="-1" role="dialog" aria-labelledby="ohYeLittleFaithLabel">
                        <div class="modal-dialog" role="document">
                          <div class="modal-content">
                            <div class="modal-header">
                              <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                              <h4 class="modal-title" id="ohYeLittleFaithLabel">Oh Ye of Little Faith</h4>
                            </div>
                            <div class="modal-body">
                              <%= image_tag("ohye.jpg", class:"img-portfolio img-responsive") %>
                              <h4>Oh Ye of Little Faith 2016 (24 x 36, oil on canvas)</h4>
                              <b>$700</b>
                              <br>
                              <p>  Oh Ye of Little Faith shows a blindfolded angel in darkness. Though she cannot see the light she has faith in it. We may not see our difficult situations getting better in the near future, but having faith and a positive outlook keeps us going. We will always get through it.</p>
                            </div>
                            <div class="modal-footer">
                              <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="col-md-6">
                      <div class="portfolio-item">
                          <a href="#" data-toggle="modal" data-target="#power">
                              <%= image_tag("power.jpg", class:"img-portfolio img-responsive") %>
                          </a>
                      </div>
                      <div class="modal fade" id="power" tabindex="-1" role="dialog" aria-labelledby="powerLabel">
                      <div class="modal-dialog" role="document">
                        <div class="modal-content">
                          <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                            <h4 class="modal-title" id="powerLabel">Power</h4>
                          </div>
                          <div class="modal-body">
                            <%= image_tag("power.jpg", class:"img-portfolio img-responsive") %>
                            <h4>Power (11 x 14, acrylic paint and construction paper on canvas)</h4>
                            <b>Not for Sale</b>
                            <br>
                            <p>Without pain we cannot sort out the strong from the weak. Our strength is measured by how we endure the most painful of situations and push through it.</p>
                          </div>
                          <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
            </div>
            <!-- /.col-lg-10 -->
        </div>
        <!-- /.row -->
        <div class="row" style="padding-bottom:20%">
            <div class="col-lg-6">
                <hr class="small">
                <div class="row">
                    <div class="col-md-12">
                        <div class="portfolio-item">
                            <a href="#" data-toggle="modal" data-target="#1863">
                                <%= image_tag("1863.jpg", class:"img-portfolio img-responsive") %>
                            </a>
                        </div>
                        <div class="modal fade" id="1863" tabindex="-1" role="dialog" aria-labelledby="1863Label">
                        <div class="modal-dialog" role="document">
                          <div class="modal-content">
                            <div class="modal-header">
                              <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                              <h4 class="modal-title" id="1863Label">1863</h4>
                            </div>
                            <div class="modal-body">
                              <%= image_tag("1863.jpg", class:"img-portfolio img-responsive") %>
                              <h4>1863 (16x20) </h4>
                              <b> $450</b>
                              <br>
                              <p>  The Emancipation Proclamation was passed in 1863 which was supposed to be the end of slavery. The expression on the man's face shows the frustration of our people that we are still treated as if we are not equals by the very people that are supposed to keep us safe. It needs to stop.</p>
                            </div>
                            <div class="modal-footer">
                              <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <hr class="small">
                <div class="row">
                    <div class="col-md-12">
                        <div class="portfolio-item">
                            <a href="#" data-toggle="modal" data-target="#hermosa">
                                <%= image_tag("FullSizeR2.jpg", class:"img-portfolio img-responsive") %>
                            </a>
                        </div>
                        <div class="modal fade" id="hermosa" tabindex="-1" role="dialog" aria-labelledby="hermosaLabel">
                        <div class="modal-dialog" role="document">
                          <div class="modal-content">
                            <div class="modal-header">
                              <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                              <h4 class="modal-title" id="hermosaLabel">Ella es hermosa como ella quiere estar</h4>
                            </div>
                            <div class="modal-body">
                              <%= image_tag("FullSizeR2.jpg", class:"img-portfolio img-responsive") %>
                              <h4>Ella es hermosa como ella quiere estar (18x24, Oil on canvas) </h4>
                              <b> $500</b>
                              <br>
                            </div>
                            <div class="modal-footer">
                              <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <hr class="small">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="portfolio-item">
                                <a href="#" data-toggle="modal" data-target="#MotherEarth">
                                    <%= image_tag("FullSizeR1.jpg", class:"img-portfolio img-responsive", style:"width:20%; margin: 0 auto;") %>
                                </a>
                            </div>
                            <div class="modal fade" id="MotherEarth" tabindex="-1" role="dialog" aria-labelledby="MotherEarthLabel">
                            <div class="modal-dialog" role="document">
                              <div class="modal-content">
                                <div class="modal-header">
                                  <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                  <h4 class="modal-title" id="MotherEarthLabel">Mother Earth</h4>
                                </div>
                                <div class="modal-body">
                                  <%= image_tag("FullSizeR1.jpg", class:"img-portfolio img-responsive") %>
                                  <h4>Mother Earth (12x24, oil on Canvas) </h4>
                                  <b> $400</b>
                                  <br>
                                </div>
                                <div class="modal-footer">
                                  <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                    </div>
                </div>
              </div>
            <!-- /.col-lg-10 -->
        </div>
        <!-- /.row -->
    </div>
    <!-- /.container -->
</section>

<!-- Call to Action
<aside class="call-to-action bg-primary">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h3>The buttons below are impossible to resist.</h3>
                <a href="#" class="btn btn-lg btn-light">Click Me!</a>
                <a href="#" class="btn btn-lg btn-dark">Look at Me!</a>
            </div>
        </div>
    </div>
</aside>
-->
<!-- Map
<section id="contact" class="map">
    <iframe width="100%" height="100%" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.com/maps?f=q&amp;source=s_q&amp;hl=en&amp;geocode=&amp;q=Twitter,+Inc.,+Market+Street,+San+Francisco,+CA&amp;aq=0&amp;oq=twitter&amp;sll=28.659344,-81.187888&amp;sspn=0.128789,0.264187&amp;ie=UTF8&amp;hq=Twitter,+Inc.,+Market+Street,+San+Francisco,+CA&amp;t=m&amp;z=15&amp;iwloc=A&amp;output=embed"></iframe>
    <br />
    <small>
        <a href="https://maps.google.com/maps?f=q&amp;source=embed&amp;hl=en&amp;geocode=&amp;q=Twitter,+Inc.,+Market+Street,+San+Francisco,+CA&amp;aq=0&amp;oq=twitter&amp;sll=28.659344,-81.187888&amp;sspn=0.128789,0.264187&amp;ie=UTF8&amp;hq=Twitter,+Inc.,+Market+Street,+San+Francisco,+CA&amp;t=m&amp;z=15&amp;iwloc=A"></a>
    </small>
    </iframe>
</section>
-->
